<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="DBConnectionString" connectionString="Data Source=Devsvr\DEVSQL;Initial Catalog=HMC;Persist Security Info=True;User ID=develop;Password=develop" providerName="System.Data.SqlClient"/>
        <add name="InformixConnectionString" connectionString="DRIVER={INFORMIX 3.31 32 BIT};DSN=pch11;SRVR=on11tcp;HOST=pch11;SERV=on11tcps;PRO=olsoctcp;DB=his;UID=informix;PWD=informix;CLOC=zh_TW.big5;DLOC=zh_TW.big5;" providerName="System.Data.SqlClient"/>
        <!--<add name="InformixConnectionString" connectionString="DRIVER={INFORMIX 3.31 32 BIT};DSN=pch21;SRVR=on21tcp;HOST=pch21;SERV=on21tcps;PRO=olsoctcp;DB=his;UID=informix;PWD=informix;CLOC=zh_TW.big5;DLOC=zh_TW.big5;" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" batch="false" />
    </system.web>
    <appSettings>
        <add key="SaveError" value="0" />
    </appSettings>
</configuration>
